body{
    background-color:#ffff;
   
}
aside{
    background-color:#222222;
    text-align: center;
    padding: 50px !important;
}

aside img{
    width: 150px;
    height: 160px;
    margin-top: 32px;
}

aside h1{
    color: #57aff8;
    font-size: 24px;
    font-family: "lato";
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
    
}

aside h2{
    font-size: 16px;
    color:#fff;
    font-family: "lato";
    font-weight: 700;
    margin-top: 5px;
}

aside .button{
    background-color:#57aff8 !important;
    text-transform: uppercase;
    font-size: 14px !important;
    font-family: "lato" !important;
    padding: 20px 30px 20px 30px;
    font-weight: 700;
    border: none;
    width: 140px;
    height: 47px;
    border-radius: 3px;
    margin-top: 20px;
    box-shadow: 0px 4px 0px rgba(87,175,248, 0.6);
    
}

aside .redes-sociais{
    margin-top: 19px;
    margin-right: 14px;
}

aside .redes-sociais li{
    display: inline;
    margin-right: 5px;
    
}

aside .redes-sociais li i{
    color:#fff;
    font-size: 30px;
    
}

aside .habilidades{
    text-align: left;
    color:#fff;
    margin-top: 50px;
    
    
    
}

aside .habilidades h3{
    font-size: 16px;
    font-family: "lato";
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    
}

aside .habilidades small{
    font-size: 12px;
    color:#fff;
    
    
}

aside .habilidades progress{
    margin-bottom: 6px;
}

aside .habilidades progress::-webkit-progress-value{
    background-color:#57aff8 !important;
}