body{
    background-color: #745cc1;
    text-align: center;
    
    
/* Essa tag (webkit-font-smoothing) foi usado para deixar a fonte mais fina, para ficar mais parecida com o projeto fornecido. Tem que conferir a compatibilidade de navegadores. Pesquisar no goggle sobre Antialiased para mais referencias*/    
    
    -webkit-font-smoothing: antialiased;
}

img{
    margin-top: 65px;
}

input{
    display: block;
    width: 100%;
    margin-bottom: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px;
}

button{
    width: 100%;
    background-color: white;
    border-radius: 40px;
    height: 50px;
    text-transform: uppercase;
    box-shadow: 0 2px 3px 0 #000;
    border:none;
    color: #39393a;
    font-weight: 500;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

a{
    color:#fff;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

form{
    padding: 60px 60px 5px 60px;
    
}

/* Esse webkit-input-placeholder ele serve para editar o placeholder e é compativel com os navegadores a unica forma de editar um placeholder é usando essa tag abaixo. */ 

::-webkit-input-placeholder{
    color:#fff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
}